@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.main-content{
    margin-top: 80px;
    padding: 10px 7%;
}

/* start of home content */

.home-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}

.home-content h2{
    font-weight: 550;
    font-size: 35px;
    opacity: 0.65;
}

.home-content h1{
    font-size: 60px;
}

.home-content p{
    color: #9a9999;
    font-size: 18px;
}

.home-content .button{
    margin-top: 30px;
}

.home-content .button a{
    margin-right: 30px;
    border-radius: 5px;
    padding: 15px 50px;
}

.product-home-btn{
    color: #fff;
    background-color: #6E54FA;
    border: 3px solid #6E54FA;
    width: 300px;
    height: 50px;
}

.product-home-btn:hover{
    opacity: 0.9;
    transition: 0.3s;
}

.product-home-btn{
    transition: 0.3s; /* agar saat selesai dihover akan kembali dengan halus */
}

.call-home-btn{
    color: #6E54FA;
    border: 3px solid #6E54FA;
}

.call-home-btn:hover{
    opacity: 0.9;
    transition: 0.3s;
}

.call-home-btn{
    transition: 0.3s; /* agar saat selesai dihover akan kembali dengan halus */
}

.image-home{
    margin-top: 40px;
}

.image-home img{
    width: 550px;
}

/* end of home content */


/* start of product content */

.product-mix-content{
    margin-top: 10px;
}

.product-mix-title{
    text-align: center;
}

.list-product-home{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto)); 
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.card img{
    margin-bottom: 10px;
    width: 250.33px;
    margin-left: 8px;
}

.card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 470px;
}

.card:hover{
    box-shadow: 5px 30px 56.1276px rgb(55 55 55/ 12%);
    border: 1px solid transparent;
    transform: translateY(-3px);
}

.card p{
    margin-left:11px;
    text-align: start;
}

.button-mix-product{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.button-mix-product a{
    background-color: #6E54FA;
    color: #fff;
    padding: 15px 70px;
    border-radius: 30px;
}

/* end of product content */


/* start of media content */

.media-content {
    
    justify-content: space-between;
    margin-top: 90px;
}

.subtitle-media{
    text-align: center;
}

.media-card {
    position: relative;
    margin: 10px;
    overflow: hidden;
}

.media-card img {
    width: 100%;
    height: 100%;
    transition: filter 0.5s ease;
}

.container-card{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.media-card .bass-text,
.media-card .drum-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.media-card:hover img {
    filter: blur(5px); /* Efek blur saat dihover */
}

.media-card:hover .bass-text,
.media-card:hover .drum-text {
    opacity: 1; /* Menampilkan teks saat dihover */
}

/* end of media content */

/* start of bestseller content */

.product-bestseller-guitar{
    margin-top: 90px;
}

.bestseller-title{
    text-align: center;
}

.list-product-bestseller{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto)); 
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.button-bestseller{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.button-bestseller a{
    background-color: #6E54FA;
    color: #fff;
    padding: 15px 70px;
    border-radius: 30px;
}

.product-bestseller-bass{
    margin-top: 90px;
}

